.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

button {
    padding: 20px;
    background-color: rebeccapurple;
    color: white;
    border-radius: 50%;
    box-shadow: inset 10px 10px;
}